@media(max-width: 320px) {
  body {
    font-size: 12px;    
  }
  header {
    padding: 0 10px;
  }
    header #logo {
      margin-right: 10px;
      width: 80px;
    }
  .button {
    font-size: 10px;
    width: auto;
  }
  #container {
    margin: 10px;
    padding: 5px;
  }
  #links .link {
    margin: 0 0 10px 0;
    padding: 5px;
    overflow: auto; /* http://learnlayout.com/clearfix.html */
  }
    #links .star {
      font-size: 16px;
    }
    #links .source {
      font-size: 10px;
    }
  .footer, .push {
    height: 130px;
  }
  .wrapper {
    margin-bottom: -130px;
  }
  footer {
    display: block;    
    text-align: center;
  }
    footer p {
      padding: 5px;
    }
    footer #makersacademy-logo img {
      width: 100%;
    }
}