<form action="/links" method='POST'>
  <label for="title">
    Title:
    <input type="text" name="title"/>
  <label for="url">
    Url:
    <input type="text" name="url"/>
  </label>
  <label for="tags">
    Tags:
    <input type="text" name="tags"/>
  </label>
  <input type="submit" value="Create link"/>
</form>
