<!DOCTYPE html>
<html>
<head>
  <title>Bookmark manager</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">  
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">  
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/javascript/application.js" type="text/javascript"></script>  
</head>
<body>
  <div class="wrapper">
    <%= partial :header %>
    <%= partial :flash %>
    <div id='container'>
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>  
  <%= partial :footer %>  
</body>
</html>