<li class='link'>
  <div class='star hollow'>&#9734;</div>
  <div class='star solid'>&#9733;</div>
  <a class='title' href="<%= link.url %>"><%= link.title %></a>
  <div class='description'>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <span class='source'>
    added yesterday by 
    <a href="#">evgeny@makersacademy.com</a>
  </span>
</li>